body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}


form {
background: #fff;
padding: 20px;
width: 350px;
margin: auto;
border-radius: 8px;
}


label {
display: block;
margin-top: 10px;
}


input {
width: 100%;
padding: 8px;
margin-top: 5px;
}


input.valido {
border: 2px solid green;
}


input.invalido {
border: 2px solid red;
}


.error {
color: red;
font-size: 12px;
}


button {
margin-top: 15px;
padding: 8px;
width: 48%;
}